.tabl {
    margin-right: 0.5rem;
    margin-top: 3rem;
}

.tabf {
    color: black !important;
}

.ui.right.floated.menu {
    background-color: teal !important;
}

.tah {
    margin-top: 0.6rem;
}