{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/article_list.css' %}">

<div class="container main">
    <div class="ui labeled icon left vertical menu side">
        <div class="item logo-img">
        <img class="ui mini centered image" src="{% static 'img/logo-small.png' %}">
        </div>
        <a href="{% url 'addarticle' %}" class="item"> 
            <i class="plus square icon"></i>
            Ajouter Article
        </a>
        <a href="{% url 'addfourni' %}" class="item"> 
          <i class="plus square icon"></i>
          Ajouter Fournisseurs
      </a>
      <a href="{% url 'fournilist' %}" class="item"> 
          <i class="plus square icon"></i>
          Liste Fournisseurs
      </a>
        <a href="{% url 'articleslist' %}" class="item">
            <i class="list icon"></i>
            Liste des Articles
        </a>
        <a href="{% url 'takearticle' %}" class="item">
            <i class="minus circle icon"></i>
            Prélévement Article
        </a>
        <a href="{% url 'takelist' %}" class="item">
          <i class="list icon"></i>
          Liste des Prélévements
      </a>
      <a href="{% url 'feedarticle' %}" class="item">
        <i class="plus square icon"></i>
        Ajout au Stock
    </a>
    <a href="{% url 'feedlist' %}" class="item">
        <i class="list icon"></i>
        Liste des Récéptions
    </a>
    <a href="{% url 'logout' %}" class="item">
      <i class="power off icon"></i>
      Déconnection
  </a>
    </div>
    <div class="topbar">
        <div class="ui teal four item inverted menu top">
        <a class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Chercher...">
                <i class="search icon"></i>
            </div>
        </a>
        <a class="right item">
            <div class="ui yellow image label">
                <img src="{% static 'img/person.png' %}">
                {{user.username}}
                <div class="detail">Connecté</div>
            </div>
        </a>
      </div>
    </div>
    
    <div class="site-content tabl">
        <table class="ui small celled table">
            <thead>
              <tr><th>Bon de Réception N°</th>
              <th>Fourniseeur</th>
              <th>Date</th>
              <th>Valeur Total</th>
              <th>Voir détails</th>
              <th>Imprimer Bon</th>
            </tr></thead>
            <tbody>
                {% for l in feeding %}
              <tr>
                <td data-label="Bon de réception">{{l.br}}</td>
                <td data-label="Fournisseur">{{l.fournisseur}}</td>
                <td data-label="Date">{{l.date_feed|date:"d M, Y"}}</td>
                <td data-label="Date">{{l.total_value}}</td>
                <td data-label="Fournisseurs">
                    <a href="{% url 'feedarticlesdetails' l.id %}" class="ui icon button">
                        <i class="eye icon"></i>
                    </a>
                </td>
                <td data-label="Fournisseurs">
                    <a href="{% url 'generatebr' l.id %}" class="ui icon button">
                        <i class="download icon"></i>
                    </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="full-width">
            <tr>
                <th class="tah" colspan="6">
                  <div class="ui teal tag labels tah">
                    <a class="ui label">
                      Valeur total des achats : {{pr.total_value__sum}}
                    </a>
                  </div>
                </th>
            </tr>
            </tfoot>
          </table>
    </div>
</div>


{% endblock content %}